<template>
  <v-container fluid>
    <v-row justify="center" align="center">
      <!-- Image -->
      <v-col cols="12" md="6">
        <v-img
          class="mx-auto"
          :lazy-src="comic.img"
          :src="comic.img"
          height="auto"
          width="500"
        />
      </v-col>

      <!-- Card -->
      <v-col cols="12" md="6">
        <v-card class="rounded-xl pa-5" elevation="3" min-height="500">
          <!-- Tags -->
          <div class="pa-4 d-flex flex-row justify-end">
            <v-chip class="px-4" color="primary" x-small>
              <v-icon x-small left>
                mdi-tag
              </v-icon>
              {{ comic.num }}
            </v-chip>
          </div>

          <!-- Header -->
          <div
            class="
              d-flex
              flex-row
              justify-space-between
              align-center
              font-weight-bold
              mx-4
            "
          >
            <div>
              {{ comic.title }}
            </div>
            <!-- Date -->
            <div class="primary--text text-small">
              <span> Fecha : </span>
              {{ comic.month }} - {{ comic.day }}, {{ comic.year }}
            </div>
          </div>

          <!-- Alt -->
          <div class="text--disabled text-small mt-4 mx-4">
            {{ comic.alt }}
          </div>

          <!-- Body -->
          <v-card-text>
            <div class="text-justify" v-text="comic.transcript" />
          </v-card-text>

          <!-- Qualification -->
          <div class="primary--text text-center mt-10">
            <div class="font-weight-bold">
              ¡Califica tu experiencia con este comic!
            </div>
            <v-rating
              v-model="qualification"
              color="primary"
              class="mt-4"
              size="45"
              max="5"
              dense
              dark
            />
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { toast } from '~/interfaces/toast.interface'
export default {
  props: {
    comic: {
      type: Object,
      required: true,
      default: null
    }
  },

  // Data
  data: () => ({
    qualification: 0
  }),

  watch: {
    // Watch for changes in the comic
    qualification (newVal) {
      if ([5, 4, 3].includes(newVal)) {
        toast.show('success', `Calificaste ${newVal} estrellas`)
      }

      if ([2, 1].includes(newVal)) {
        toast.show('error', `Calificaste ${newVal} estrellas`)
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
