// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// colors
$background: "black";

// fonts families
$family-regular: "Poppins Regular";

// fonts sizes
$font-primary: 1rem;
$font-small: 0.8rem;
