@import "variables";
@import "fonts";

.app {
  &-light {
    font-family: $family-regular, sans-serif !important;
    font-size: $font-primary;
  }
}

.v-main__wrap {
  background-image: url("/background.svg") !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;

  background-size: 100%;
}

.text-small {
  font-size: $font-small;
}
