<template>
  <v-app class="app-light" dark>
    <Loader />
    <v-main class="background">
      <v-container class="fill-height">
        <Nuxt />
      </v-container>
    </v-main>
    <Toast />
  </v-app>
</template>
