<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <Comic v-if="comic" :comic="comic" />
    </v-col>
  </v-row>
</template>

<script>
import { loader } from '~/interfaces/loader.interface'

export default {
  name: 'Index',

  // Data
  data: () => ({
    comic: null
  }),

  beforeCreate () {
    // Show loader
    loader.show('Cargando informacion...')
  },

  async created () {
    await this.getComic()
  },

  methods: {
    // Random integer between 1 and 1000
    randomComic () {
      return Math.floor(Math.random() * 1000) + 1
    },

    // Get comic
    async getComic () {
      this.comic = await this.$api.$get(`/getComic/${this.randomComic()}`)
    }
  }
}
</script>
